@import '../node_modules/bonsai-components-react/scss/components/button/button';
@import '../node_modules/bonsai-components-react/scss/components/form/form';
@import '../node_modules/bonsai-components-react/scss/components/data-table-v2/data-table-v2';
@import '../node_modules/bonsai-components-react/scss/components/data-table/data-table';
@import '../node_modules/bonsai-components-react/scss/components/search/search';
@import '../node_modules/bonsai-components-react/scss/components/text-input/text-input';
@import '../node_modules/bonsai-components-react/scss/components/tile/tile';

body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
}
